*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Poppins';
}
header{
    background-image: url("img_home/desafio.jpg");
    background-position: center;
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font: 700 27px;
}
.text p, footer p{
    text-align: center;
    font: 500 20px;
    margin: 30px auto;
}
.container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    flex: 1 1 240px;
    gap: 20px;
    width: 100%;
}
.box a img{
    width: 30%;
}
.box{
    width: 30%;
    text-align: center;
    border: 1px solid rgb(176, 176, 176);
    padding-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px 1px rgb(108, 69, 247);
}
.box img{
    width: 230px;
    padding: 10px;
}
.text{
    width: 70%;
    margin: 0 auto;
}
.card-link{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 70%;
    margin: 20px auto;
    border-radius: 20px;
    padding: 6px 0;
}
.card-link:hover{
    background-color: rgb(46, 46, 46);
}
.card-link img{
    width: 35px;
}
.card-link a{
     color: white;
    text-decoration: none;
    font: 500 16px Poppins;
    width: 60%;
}
@media(max-width: 750px){
    .box{
        width: 250px;
    }
    header h1{
        font-size: 24px;
    }
    .text{
        width: 90%;
    }
}